.scroll{
    position: fixed;
    top: 0;
    left: 0;
    transition:all 0.5s ease-in-out;
    z-index: 333;
}

.scroll-up .scroll{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.scroll-down .scroll{
    transform: translate3d(0,-100%,0);
}